<form>
  <div>
      <label for="username">Brugernavn:</label>
      <input type="text" id="username" #usr>
  </div>
  <div>
      <label for="pw">Kode:</label>
      <input type="password" id="pw" #pw>
  </div>
  <div>
    <button (click)="signin(usr.value, pw.value)">Login</button>
  </div>
</form>