@import '../../../assets/variables.less';

form {
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
    background-color: darken(#fafafa, 8);
    padding: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & > div {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5em;
        & > label {
            width: 120px;
        }
        & > input {
            padding: .25em;
            border: 2px solid darken(#fafafa, 12);
        }
        & > button {
            background-color: @color-accent;
            font-weight: bold;
            padding: .5em;
            border: none;
            min-width: 120px;
            color: #fafafa;
            margin-top: 2em;
            margin-bottom: -2em;
            &:hover {
                background-color: lighten(@color-accent, 12);
                cursor: pointer;
            }
        }

    }

}
