@import '../../../../assets/variables.less';

.collection-item {
    width: 100%;
    height: 3em;
    background-color: lighten(@color-background, 20);
    padding: .5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .125em;
    color: #fafafa;
    font-weight: bold;
    & > * {
        flex-grow: 1;
        max-width: 50%;
    }
}

.detail {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}