<div class="grid">
    <div class="grid-top">
        <app-navigation></app-navigation>
    </div>
    <div class="grid-content">
        <router-outlet id="test"></router-outlet>
    </div>
</div>


