@color-background: #83537F;
@color-background-secondary: #f3f3ff;
@color-accent: #DA627D;
@page-width: 1024px;

@font-face {
    src: url("IndieFlower.ttf");
    font-family: flower;
}

@font-face {
    src: url("Raleway-Regular.ttf");
    font-family: raleway;
}