<h1>Opret en ny kollektion</h1>
<form>
  <div>
    <label for="col_name">Navngiv Din Kollektion:</label>
    <input type="text" id="col_name" #colname />
  </div>
  <div>
    <button (click)="create(colname)">Opret</button>
  </div>
</form>

<h2 class="mt-3">Kollektioner</h2>
<app-collection-list [collections]='collections'></app-collection-list>