@import '../../../../assets/variables.less';

form {
    margin: 0 auto;
    width: 100%;
    background-color: @color-background;
    color: #fafafa;
    padding: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & > div {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .5em;
        & > label {
            padding-right: .5em;
            margin-right: .5em;
        }
        & > input {
            padding: .5em 0;
            margin: -.5em;
            border: none;
            border-bottom: 2px solid darken(#fafafa, 12);
            background: none;
            box-shadow: none;
            color: #fafafa;
            width: 220px;
            transition: .1s ease-in-out all;
            &:focus {
                outline: none;
                border-bottom: 2px solid lighten(@color-accent, 12);
                color: lighten(@color-accent, 12);
            }
        }
        & > button {
            margin-top: 2em;
            margin-bottom: -2em;
        }
    }

   }
