<nav class="nav">
  <div class="content">
    <a href="javascript:void(0)" [routerLink]='[""]'><img src="../../../assets/feriephoto.png" class="brand"></a>
    <ul>
      <li><a href="javascript:void(0)" [routerLink]='["collection"]'>Kollektioner</a></li>
      <li><a href="javascript:void(0)" [routerLink]='["browse"]'>Gennemse Billeder</a></li>
      <li><a href="javascript:void(0)" [routerLink]='["upload"]'>Upload</a></li>
    </ul>

    <div class="badge" *ngIf="auth.isLoggedIn">
      Velkommen {{auth.user.username}}
    </div>
  </div>


</nav>