@import '../../../assets/variables.less';

.nav {
    height: 85px;
    width: 100%;
    background-color: @color-background-secondary;
    & > .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: @page-width;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        position: relative;
    }
}

.brand {
    height: 75px;
    padding: .5em;
}

ul {
    list-style-type: none;
    align-self: flex-end;
    margin-right: -.5em;
}

li {
    display: inline-block;
    padding: .5em .5em;
}

li > a {
    text-decoration: none;
    color: @color-accent;
    font-weight: bold;
    transition: .1s ease-in all;
    &:hover {
        border-bottom: .25em solid @color-accent;
        color: lighten(@color-accent, 20);
    }

}

.badge {
    position: absolute;
    top: .5em;
    right: .5em;
}