@import '../../../../assets/variables.less';


.image-viewer {
    width: 100%;
    height: 720px;
    display: grid;
    grid-template-areas: "selector" "display" "control";
    grid-template-rows: 35px 567px 110px;

}

.collection-selector {
    grid-area: selector;
    width: 100%;
    height: 100%;
    & > select {
        width: 100%;
        display: block;
        padding: .5em;
        color: @color-accent;
        font-weight: bold;
    }
}

.image-container {
    position: relative;
    width: 100%;
    grid-area: display;
    background-color: darken(@color-background-secondary, 88);
    box-shadow: 0px -1px 6px 0px #222222ee;
    & > img {
        object-fit: contain;
        width: 100%;
        height: 567px;
    }
    & > span {
        position: absolute;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 25px !important;
        width: 25px !important;
        padding: .5em;
        background-color: fade(@color-accent, 60);
        color: #fafafa;
        font-weight: bold;
        font-size: 1.4em;
        transition: .1s ease-in-out;
        &:hover {
            background-color: @color-accent;
            cursor: pointer;
        }
    }
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.img-controls {
    background-color: lighten(@color-background,10);
    color: #fafafa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    & > div {
        flex-grow: 1;
        display: flex;
        width: 100%;
        align-items: center;
    }
}

.spaced {
    justify-content: space-around;
}

.central {
    justify-content: center;
    align-items: flex-start;
    & > button {
        width: 320px;
        height: 42px;
    }
}