<div class="image-viewer">
  <div class="collection-selector">
    <select [ngModel]="activeCollection.id">
      <option *ngFor="let option of collections" [value]="option.id">{{option.collectionName}}</option>
    </select>
  </div>


  <div class="image-container">
      <span class="left" (click)="page(-1)">&lt;</span> 
      <span class="right" (click)="page(1)">&gt;</span>
    <img [src]="this.imageService.endpoint + '/' + this.imageList[imageIndex]">
  </div>


  <div class="img-controls">
    <div class="spaced">
     <span>{{imageIndex + 1}} af {{imageList.length}}</span>
    </div>
    <div class="central">
        <button>Tilføj Til Kollektion</button>
    </div>
    
  </div>
</div>
