@import '../../../assets/variables.less';

ul {
    padding-left: 1em;
}

ol {
    padding-left: 1em;
}

.instruction-box {
    width: 100%;
    height: 220px;
    background-color: lighten(@color-background, 5);
    display: flex;
    border-radius: 10px;
    & > div {
        flex-grow: 1;
        max-width: 33.33%;
        padding: 1em;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        transition: .1s ease-in-out all;
        &:nth-child(2n) {
            background-color: lighten(@color-background, 13);
        }

        &:hover {
            background-color: lighten(@color-background, 20);
        }

        & > h2 {
            color: #fafafa;
            align-self: center;
        }
        & > p {
            font-weight: bold;
            color: #fefefe;
            margin-top: 2em;
            text-align: center;
        }
    }
    
}

