<h1>Velkommen til Feriephoto</h1>

<div class="instruction-box">
  <div>
    <h2>1. Opret</h2>
    <p>Opret en ny kollektion for at komme igang</p>
  </div>
  <div>
    <h2>2. Genemse</h2>
    <p>Gennemse billederne, og tilføj de bedste til din kollektion</p>
  </div>
  <div>
    <h2>3. Download</h2>
    <p>Gem billederne på din egen pc, ved at downloade kollektionen</p>
  </div>
</div>
<h1 class="mt-2">Kollektioner</h1>
<app-collection-card></app-collection-card>