/* You can add global styles to this file, and also import other style files */
@import 'assets/variables.less';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: raleway;
}

h1, h2, h3, h4, h5 {
    font-family: flower;
    color: @color-accent;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #fafafa;
}

.grid {
    display: grid;
    grid-template-areas: "top" "center";
    grid-template-rows: 85px auto;
    grid-template-columns: auto;
    height: 100%;
    width: 100%;
}

.grid-top {
    grid-area: top;
    box-shadow: 0px -3px 4px 4px #666;
}

.grid-content {
    grid-area: center;
    & > * {
        max-width: @page-width;
        width: 100%;
        margin: 0 auto;
        display: block;
        padding: .5em;
    }
}

.mt-1 {
    margin-top: .5em;
}
.mt-2 {
    margin-top: 1em;
}
.mt-3 {
    margin-top: 1.5em;
}


button {
    background-color: @color-accent;
    font-weight: bold;
    padding: .5em;
    border: none;
    min-width: 120px;
    color: #fafafa;
    &:hover {
        background-color: lighten(@color-accent, 12);
        cursor: pointer;
    }
}